      {{ define "footer" }}
      <!-- Footer -->
      <footer id="page-footer" class="content-mini content-mini-full font-s12 main-footer clearfix">
        <div class="pull-right">
          <!-- Here just incase        -->
        </div>
        <div class="pull-left">
          <a class="font-w600" href="#" target="_blank">Slingshot</a> &copy; <span class="js-year-copy"></span>
        </div>
      </footer>
      <!-- END Footer -->
      {{ end }}