      {{ define "javaScriptsHead"}}
      <!-- Put any page specific Js heads here -->
      {{ end }}

      {{ define "pageContent" }}
      <!-- Main Container - Page Content-->
      <main id="main-container">
        <!-- Page Header -->
        <div class="content bg-gray-lighter">
          <div class="row push90">
            <div class="col-md-2">
              <h1 class="page-heading">
                Current Clients
              </h1>
            </div>
            <div class="col-md-2 col-md-offset-8 text-center">
                <a href="#"><img class="app-btn"  src="assets/img/slingshot/rectangle-2-2.png"></a>
            </div>
          </div>
        </div>
        <!-- END Page Header -->

        <!-- Page Content -->
        <div class="content">
          <div class="container"


            <h2 class="content-heading">Your content</h2>
            <p>...</p>


          </div>
        </div>
        <!-- END Page Content -->
      </main>
      <!-- END Main Container - Page Content -->
      {{ end }}

      {{ define "scripts" }}
      <!-- Put any page specific scripts here -->
      {{ end }}