      {{ define "javaScriptsHead"}}
      {{ end }}

      {{ define "pageContent" }}
      <!-- Main Container -->
      <main id="main-container">
        <!-- Page Header -->
        <div class="content bg-image overflow-hidden" style="background-image: url('assets/img/photos/MilkyWay3.jpg');">
          <div class="push-50-t push-15">
            <h1 class="h2 text-white animated zoomIn">Welcome, {{.Firstname}} !</h1><br>
            <h2 class="h5 text-white-op animated zoomIn">Your day just got easier.</h2>
          </div>
        </div>
        <!-- END Page Header -->

        <!-- Page Content -->
        <div class="content">
          <h2 class="content-heading">Overview of what's going on in your network:</h2>
          <p>...</p>
        </div>
        <!-- END Page Content -->
      </main>
      <!-- END Main Container -->
      {{ end }}

      {{ define "scripts" }}
      {{ end }}